<%include header.ejs %>
<%include nav.ejs %>

<div id="debug"></div>
<div class="container-fluid">
<div class="row">
  <div class="col-md-2">
  	<div class="panel panel-default">
  		<div class="panel-heading"><h1 class="panel-title">Thermometre interieur</h1></div>
      <div class="panel-body"><canvas id="interieur" width="60" height="400">Canvas not available.</canvas></div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading"><h1 class="panel-title">Thermometre exterieur</h1></div>
  		<div class="panel-body"><canvas id="exterieur" width="60" height="400">Canvas not available.</canvas></div>
  	</div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading"><h1 class="panel-title">Les 3 derniers jours</h1></div>
      <div class="panel-body"><div id='courbe'></div></div>
    </div>      
  </div>
</div>
</div>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/data.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<script src="js/thermo-ui.js"></script>

<script>

function maj_courbe()
{

  $.when($.get('/thermos/interieur/history'), $.get('/thermos/exterieur/history')).done(function(data_int, data_ext) {
    var serie1 = data_int[0].split("\n");
    var serie2 = data_ext[0].split("\n");
    var totale = "Date, Interieur, Exterieur\n";

    serie1.forEach(function(ligne) {
      if (ligne.length) {
        var val = ligne.split(",");
        totale = totale + val[0] + ',' + val[1] + ",\n";
      }
    });
    serie2.forEach(function(ligne) {
      if (ligne.length) {
        var val = ligne.split(",");
        totale = totale + val[0] + ',,' + val[1] + "\n";
      }
    });

    drawHisto('courbe', totale);
  });
}

function maj_thermo() 
{
	$.get('/thermos/interieur', function(data, status) {
		drawThermo('interieur', "rgb(255,0,0)", data);
	});

	$.get('/thermos/exterieur', function(data, status) {
		drawThermo('exterieur', "rgb(255,0,0)", data);
	});		
}

$(document).ready(function() {
	maj_thermo();
  maj_courbe();
	setInterval(maj_thermo, 10000);
  setInterval(maj_courbe, 100000);
});

</script>

<%include footer.ejs%>
